
.icon-camera:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
